<h1>
    Job Details
</h1>

<h2>
    Description
</h2>
<p>
    {{job.description}}
</p>
<h2>
    Children
</h2>
{{#each children as |child|}}
    <p>Age: {{child.age}}</p>
    <p>Name: {{child.firstName}}</p>
{{/each}}

{{#if isSitter}}
    <button id="interest-sitter">Apply</button>
    <div id="user-id" data-id="{{userId}}"></div>
{{/if}}
<h2>
    Interested Sitters
</h2>
<ul>
{{#each interestedSitters as |sitter|}}
    <li><a href="/sitter/{{sitter.id}}">{{sitter.userName}}</a></li>
{{/each}}
</ul>

{{#if isSitter}}
    <script src="/js/jobForSitter.js"></script>
{{/if}}