<h1>Sitter Profile</h1>
<h2>
    User Name
</h2>
<p>
    {{user.userName}}
</p>
<h2>
    Name
</h2>
<p>
    {{user.firstName}} {{user.lastName}}
</p>
<h2>
    Bio
</h2>
<h3>
    Years Experience
</h3>
<p>
    {{sitter.yearsExperience}}
</p>
<h3>
    Qualifications
</h3>
<p>
    {{sitter.qualifications}}
</p>
<p>
    {{user.bio}}
</p>

<a href="/edit">Edit Profile</a>